// Font families
$font-primary: "Inter", Arial, sans-serif;
$font-secondary: "Avenir", Arial, sans-serif;
$font-title: "Helvetica", Arial, sans-serif;

// Font colors
$color-primary: #4b5d68;
$color-secondary: #212353;
