.home {
  width: 100%;
  max-width: 1120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

@media (max-width: 1120px) {
  .home {
    gap: 40px;
  }
}
